.body{
    width: 100%;
    height: 100%;
}
.container{
    position: relative;
    width: 50%;
    height: 100%;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    left: 10%;
}

.svg{
    bottom: 0px;
}

@media (max-width: 719px) {
    .container{
        left: 0%;
        right: 100%;
    }
}