<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Draw.miit</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="mirror">
        <div class="rectangle_mirror">
            <div class="rectangle_welcome">
                <div class="welcome">Добро пожаловать на Draw.miit!</div>
                <div class="description">Данный сервис позволяет осуществлять классификацию черновых рисунков на основе свёрточной нейронной сети. Хотите развлечься и проверить мощь искусственного интеллекта? Беритесь за карандаш и линейку!</div>
            </div>
            <div class="to_home_page">
                <a href="/paint">
                    <img src="/images/Rectangle.svg" alt="go_to_home_page" class="go_to_home_page">
                </a>
            </div>
            
        </div>
    </div>
    <div class="header">
        <div class="rectangle">
            <div class="header_logo">
                <a href="/" class="header_logo-link">
                    <img src="/images/Draw.miit.svg" alt="Draw.miit" class="header_logo-pic">
                </a>
            </div>
            <div class="header_icons">
                <!-- <nav class="header_icon_nav">
                    <a href="#info" class="header_icon_nav">
                        <img src="./images/info1.png" alt="info1" class="icon_info">
                    </a>
                </nav> -->
                <img src="/images/icons8_circled_thin_100_1.png" alt="circle" class="header_icons_cicrle">
                <img src="/images/icons8________100_1.png" alt="anvil" class="header_icons_anvil">
                <img src="/images/icons8________________________100_1.png" alt="airplane" class="header_icons_airplane">
                <img src="/images/cloud.png" alt="cloud "class="header_icons_cloud">
                <img src="/images/crab.png" alt="crab" class="header_icons_crab">
                <img src="/images/icons8_christmas_star_100_1.png" alt="star" class="header_icons_star">
                <img src="/images/icons8_moon_symbol_100_1.png" alt="moon" class="header_icons_moon">
                <img src="/images/icons8_windmill_100_1.png" alt="windmill" class="header_icons_windmill">
            </div>
        </div>
    </div>
    <div class="main">
        <div class="main">
            <div class="rectangles">
                <div class="main_rectangle">
                    <div class="text_main_rectangle">Искусственный интеллект</div>
                </div>
                <div class="rectangle_message">
                    <div class="text_rectangle_message">Добро пожаловать, студент, в игру Draw.miit! Будь как дома ;)</div>
                </div>
                <div class="rectangle_for_button">
                    <a href="#">
                        <button type="button" class="button_clear">Очистить холст</button>
                    </a>
                    <a href="#">
                        <button type="button" class="button_ready">Готово!</button>
                    </a>
                </div>
                <div class="draw"></div>
            </div>    
        </div>
    </div>
</body>
</html>